.container {
  height: 150vh;
}

#scrollImage {
  max-width: 30%;
  max-height: 30%;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .container {
    height: 150vh;
  }
  
  #scrollImage {
    max-width: 70%;
    max-height: 70%;
  }
}
